{% extends "layout.html" %}

{% block title %}
    Detailed AQI Report
{% endblock %}

{% block main %}

<div>
    <h3>Detailed Air Quality Index Report</h3>
</div>
<br>
<div>
    <div>
    <h5>
        {% if aqi.list[0]["main"]["aqi"] == 1 %}
        <b>Air Quality:</b> Good
        {% endif %}
        {% if aqi.list[0]["main"]["aqi"] == 2 %}
        <b>Air Quality:</b> Fair
        {% endif %}
        {% if aqi.list[0]["main"]["aqi"] == 3 %}
        <b>Air Quality:</b> Moderate
        {% endif %}
        {% if aqi.list[0]["main"]["aqi"] == 4 %}
        <b>Air Quality:</b> Poor
        {% endif %}
        {% if aqi.list[0]["main"]["aqi"] == 5 %}
        <b>Air Quality:</b> Very Poor
        {% endif %}
    </h5>
    <br>
    <p>
        <h5>Concentrations of:</h5>
        <b>Carbon Monoxide (CO):</b> {{aqi.list[0]["components"]["co"]}} μg/m3
    </p>
    <p>
        <b>Nitrogen Monoxide (NO):</b> {{aqi.list[0]["components"]["no"]}} μg/m3
    </p>
    <p>
        <b>Nitrogen Dioxide (NO2):</b> {{aqi.list[0]["components"]["no2"]}} μg/m3
    </p>
    <p>
        <b>Ozone (O3):</b> {{aqi.list[0]["components"]["03"]}} μg/m3
    </p>
    <p>
        <b>Sulphur Dioxide (SO2):</b> {{aqi.list[0]["components"]["so2"]}} μg/m3
    </p>
    <p>
        <b>Fine Particles Matter (PM2.5):</b> {{aqi.list[0]["components"]["pm2_5"]}} μg/m3
    </p>
    <p>
        <b>Coarse Particulate Matter (PM10):</b> {{aqi.list[0]["components"]["pm10"]}} μg/m3
    </p>
    <p>
        <b>Ammonia (NH3):</b> {{aqi.list[0]["components"]["pm10"]}} μg/m3
    </p>
</div>

{% endblock %}